body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}
input {
  padding: 10px;
  font-size: 16px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
}
#mensaje {
  margin-top: 20px;
  font-size: 18px;
}
#imagen {
  display: none;
  margin-top: 20px;
  width: 180ox;
  height: 180px;
  margin: 0 auto;
}
